vnstock
plotly
beautifulsoup4
matplotlib
scikit-learn
keras
tensorflow
numpy
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
